{% extends "IdeaFusionCoreBundle:Core:layout.html.twig" %}


{% block body %}

{% for idea in ideas %}
<div>
	<h3><a href="">{{idea.title}}</a></h3>
	<span>Written by {{idea.user.login}} the {{idea.dateCreate|date("F jS \\a\\t H:i")}}. </span>
	<p>
		{{idea.description}}
	</p>
	{% for solution in idea.solutions %}
	<blockquote>
		<div class="pull-left">
			<p>{{solution.sumVotes}} votes</p>
			<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : 1})}}">+</a>
			<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : 0})}}">/</a>
			<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : -1})}}">-</a>
		</div>
		<div class="solution">
			<h4>Solution #{{loop.index}} : {{solution.title}}</h4>
			<small>Written by {{solution.user.login}} the {{solution.dateCreate|date("F jS \\a\\t H:i")}}. </small>
			<p>
				{{solution.description}}
			</p>
		</div>
	</blockquote>
	{% endfor %}
	<a href="{{path('solution_create', {'id_idea' : idea.idIdea})}}">Add a solution</a>
</div>
{% endfor %}

{% endblock body %}