{% extends "IdeaFusionCoreBundle:Core:layout.html.twig" %}


{% block body %}

{% for idea in ideas %}
<div>
	<h3><a href="">{{idea.title}}</a></h3>
	<p>
		{{idea.description}}
	</p>
	{% for solution in idea.solutions %}
	<div>
		<h4>{{solution.title}} ({{solution.sumVotes}})</h4>
		<p>
			{{solution.description}}
		</p>
		<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : 1})}}">+</a>
		<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : 0})}}">/</a>
		<a href="{{path('solution_vote', {'id_solution' : solution.idSolution, 'point' : -1})}}">-</a>
	</div>
	{% endfor %}
	<a href="{{path('solution_create', {'id_idea' : idea.idIdea})}}">Add a solution</a>
</div>
{% endfor %}

{% endblock body %}